<div id="whitelabel" class="whitelabel-container app-container container-fluid">
	<div class="row-fluid">
		<div class="sidebar-menu span2">
			<ul>
				<li>
					<a data-screen="general" class="js-sidebar-menu-link" href="#">
						<i class="fa fa-picture-o icon-small"></i>
						General
					</a>
				</li>
				<li>
					<a data-screen="advanced" class="js-sidebar-menu-link" href="#">
						<i class="fa fa-random icon-small"></i>
						Advanced
					</a>
				</li>
				<li>
					<a data-screen="templates" class="js-sidebar-menu-link" href="#">
						<i class="fa fa-envelope-o icon-small"></i>
						Templates
					</a>
				</li>
			</ul>
		</div>
		<div id="whitelabel-content" class="whitelabel-content span10"></div>
	</div>
</div>