<div id="whitelabel" class="whitelabel-container app-container container-fluid">
	<div class="row-fluid">
		<div class="sidebar-menu span2">
			<ul>
				<li>
					<a id="general-screen-link" class="js-sidebar-menu-item" href="#">
						<i class="fa fa-picture-o icon-small"></i>
						General
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-random icon-small"></i>
						Advanced
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-envelope-o icon-small"></i>
						Templates
					</a>
				</li>
			</ul>
		</div>
		<div id="whitelabel-content" class="whitelabel-content span10"></div>
	</div>
</div>