<div id="whitelabel" class="whitelabel-container app-container container-fluid">
	<div class="row-fluid">
		<div class="sidebar-menu span2">
			<ul>
				<li>
					<a data-screen="general" class="js-sidebar-menu-link" href="#">
						<i class="fa fa-picture-o icon-small"></i>
						{{ i18n.whitelabel.menu.general }}
					</a>
				</li>
				<li>
					<a data-screen="advanced" class="js-sidebar-menu-link" href="#">
						<i class="fa fa-random icon-small"></i>
						{{ i18n.whitelabel.menu.advanced }}
					</a>
				</li>
				<li>
					<a data-screen="templates" class="js-sidebar-menu-link" href="#">
						<i class="fa fa-envelope-o icon-small"></i>
						{{ i18n.whitelabel.menu.templates }}
					</a>
				</li>
				<li>
					<a data-screen="dns" class="js-sidebar-menu-link" href="#">
						<i class="fa fa-server icon-small"></i>
						{{ i18n.whitelabel.menu.dns }}
					</a>
				</li>
			</ul>
		</div>
		<div id="whitelabel-content" class="whitelabel-content span10"></div>
	</div>
</div>