<div class="templates-branding-container">
	<legend>{{i18n.whitelabel.templates.mainTitle}}</legend>
	<div class="templates-branding-content">
		{{#each whitelabelTemplates}}
		<div class="js-category-container category-container open" data-category="{{categoryKey}}">
			<div class="js-category-header category-header clickable-box">
				<i class="fa-lg fa fa-caret-down"></i>
				<span class="title">{{categoryName}}</span>
			</div>
			<div class="js-category-content category-content accordion">
				{{#each templates}}
				<div class="js-template-container template-container accordion-group" data-template="{{templateKey}}">
					<div class="js-template-header template-header clickable-box accordion-heading">
						<div class="accordion-toggle">
							{{#compare status '===' 'disabled'}}
								<i class="fa fa-file monster-red pull-right" data-original-title="{{@root.i18n.whitelabel.templates.editIconTooltips.disabled}}" data-placement="top" data-toggle="tooltip"></i>
							{{else}}
								{{#compare status '===' 'custom'}}
									<i class="fa fa-file-text-o monster-green pull-right" data-original-title="{{@root.i18n.whitelabel.templates.editIconTooltips.custom}}" data-placement="top" data-toggle="tooltip"></i>
								{{else}}
									<i class="fa fa-file-o pull-right" data-original-title="{{@root.i18n.whitelabel.templates.editIconTooltips.default}}" data-placement="top" data-toggle="tooltip"></i>
								{{/compare}}
							{{/compare}}
							<span class="title">{{templateName}}</span>
						</div>
					</div>
					<div class="js-template-content template-content flat-box accordion-body"></div>
				</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
</div>