<div class="dns-branding-container">
	<form class="form-vertical js-dns-form dns-branding-content">
		<div class="control-group">
			<label class="control-label" for="domain">
				{{i18n.whitelabel.dns.label}}
			</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" id="domain" value="{{domain}}">
					<button type="submit" class="btn btn-primary check">{{i18n.whitelabel.dns.check}}</button>
				</div>
			</div>
		</div>
		<div class="js-dns-listing-content dns-listing-content"></div>
	</div>
</div>